{% extends 'base.html' %}

{% block title %}
<title>signup</title>
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="password" name="password1">
            <input type="password" name="password2">
            <button>Sign up</button>
        </form>
    </div>
</main>
{% endblock content %}